</div> {# <div class="container-fluid"> #}

<footer class="footer">
    <div class="container-fluid">
        <div class="copyright text-center">
            &copy; 2016 - {{ "now"|date("Y") }}
        </div>
    </div>
</footer>

<script>
    App = typeof App == 'undefined' ? {} : App;
    App.page = typeof App.page == 'undefined' ? {} : App.page;
    {% for key, value in JSSettings %}
        App.page.{{ key }} = 0;
    {% endfor %}
</script>

</div> {# <div class="main-panel"> #}
</div> {# <div class="wrapper"> #}
</body>
</html>