</div> {# <div class="container-fluid"> #}

<footer class="footer">
    <div class="container-fluid">
        <div class="copyright text-center">
            &copy; 2016 - {{ "now"|date("Y") }}
        </div>
    </div>
</footer>

</div> {# <div class="main-panel"> #}
</div> {# <div class="wrapper"> #}
</body>
</html>