{{ header|raw }}
<div class="card" id="rating-page">
    <div class="header">
        <h4 class="title">{{ text('ratingTable') }}</h4>
    </div>
    <div class="content rating-content">
        <div class="table-responsive table-full-width">
            {{ ratingTable|raw }}
        </div>
    </div>
</div>
{{ footer|raw }}