{{ header|raw }}
<div class="card">
    <div class="header">
        <h4 class="title">{{ text('olimpNotStartedTitle') }}</h4>
    </div>
    <div class="content">
        <p>Hello, {{ username }}, please wait olimp start</p>
    </div>
</div>
{{ footer|raw }}