{{ header|raw }}
<div class="card">
    <div class="header">
        <h4 class="title">{{ text('commentsFormTitle') }}</h4>
    </div>
    <div class="content">
        test
    </div>
</div>
{{ footer|raw }}