body {
    font-family: Comic Sans, Comic Sans MS, cursive;
}
a {
    color: #111111;
}
a:hover {
    color: #878787;
}
a:visited {
    color: #383838;
}
p{text-indent:1.5em}

.main {
    width:1250px;
    margin:0 auto;
}
#MainBlock {
    margin-top:30px;
    padding:20px;
    background:#E0E0E0;
    border:1px solid #000;
}
.home-top {
    width:100%;
    vertical-align:middle;
    height:200px;
    background-image:url(/images/top.png);
}

.LoginBlock {
    float:right;
    background:#B5B5B5;
    border:1px solid #000;
    width:350px;
    padding:5px;

    border-radius:5px;
}
.LoginBlock form {
    margin:0;
    margin-top:-5px;
}

.blurb-img {
    max-width: 100%;
    margin-top: 15px;
}

/*-----------------------INDEX-----------------------*/

.TopBlock {
    background: #C0C0C0;
    border: 1px solid black;
    height: 125px;
}

.UserInfoBlock {
    vertical-align: middle;
    float: right;
    background: #999999;
    border: 2px solid black;
    width: 600px;
    margin-right: 10px;
    padding: 5px;

    border-radius:10px;
}
.round-up {
    border-radius:7px;
}

.MainBlock {
    border: 0 solid black;
    padding: 0 15px 15px;
}

.UploadBlock {
    border: 1px solid black;
    background: #999999;
    margin: 10px;
}

td#ZadPlace > p {
    text-indent: 0;
}


.tabs-table .tab {
    border: 1px solid black;
    background: #E0E0E0;
    padding: 5px;
    width: 100%;

    text-align: justify;
}

.tabs-table .tabsLink {
    background-color:#606060;
    padding:5px;
    font: bold 12pt "Trebuchet MS", tahoma, verdana, arial narrow, arial;
    color:#fff;
    text-decoration:none;
    cursor: pointer;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tabs-table #task-main-text table td {
    vertical-align:top;
}
